* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0px;
}

body {
    height: 100vh;
    width: 100%;
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-family:'Montserrat';
    font-size: 0.85rem;
    line-height: 1.5;
    color: rgb(4, 83, 151);
    background-color: rgb(238, 238, 238);
    scroll-behavior: smooth;
    overflow: hidden;
}

ul li {
    list-style: none;
    margin: 0;
}

.header {
    height: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    max-width: 52.25rem;
    height: 35rem;
    position: relative; 
    margin: 0 auto;
    background-color: rgb(206, 228, 228);
    padding: 0.938rem 1.063rem;
}

.slider {
    width: 100%;
    height: 84.9%;
    padding: 0;
    margin-bottom: 25px;
    margin-top: 0;
    background-color: rgb(79, 206, 206);
}

.slider-item {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all ease 1s;
    align-items: center;
    background-color: rgb(245, 176, 87);
}

img {
    display: block;
    border: none;
    border-radius: 9px;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    text-align: start;
    margin: 0;
}

.control {
    display: flex;
    justify-content: flex-end;
}

.control_btn {
    width: 10px;
    height: 10px;
    margin-left: 6px;
    background-color: rgba(241, 135, 236);
    opacity: ;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.control_btn:active {
    background-color: rgb(28, 141, 5);
}

.control_btn:hover {
    background-color: rgba(243, 50, 50, 0.7);
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.footer {
    height: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}